
<!DOCTYPE HTML>

<html>
<head>
    <meta charset="UTF-8">
    <title>UMS</title>
   <!--  <link rel="stylesheet" href="theme/ext-theme-classic-ba50af8e-5a71-47bf-b574-0710c09dec66.css">-->
	<%= stylesheet_link_tag     "application", "/resources/css/icons" %>


    <!--<link rel="stylesheet" href="theme/ext-theme-neptune/ext-theme-neptune-all.css">-->
	<%= stylesheet_link_tag     "application", "/ext/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all-debug" %>
	<%= stylesheet_link_tag     "application", "/resources/css/desktop" %>
	<%= stylesheet_link_tag     "application", "/resources/css/main" %>

<!--     <link rel="stylesheet" href="ext/packages/ext-theme-access/build/resources/ext-theme-access-all-debug.css"> -->
    <!-- </x-compile> -->
	<%= javascript_include_tag     "application", "/ext/ext-all-debug" %>
	<%= javascript_include_tag     "application", "/ext/ext-theme-neptune" %>
	<%= javascript_include_tag     "application", "/ext/ext-theme-neptune" %>
	<%= javascript_include_tag     "application", "/app" %>
	<%= javascript_include_tag     "application", "/jquery-1.11.1" %>
 

</head>
<body>
</body>
</html>