
	<%= stylesheet_link_tag "/resources/css/icons.css" %>
	
	<%= stylesheet_link_tag "/resources/css/desktop.css" %>
	<%= stylesheet_link_tag "/resources/css/main.css" %>
	<%= stylesheet_link_tag "/ext/resources/ext-theme-neptune-all-debug.css" %>


    <%= javascript_include_tag "/ext/ext-all-debug.js" %>
    <%= javascript_include_tag "/ext/ext-theme-neptune.js" %>
    
    <%= javascript_include_tag "/app.js" %>
    <%= javascript_include_tag "/jquery-1.11.1.js" %>

 <!DOCTYPE html>
<html>
<head>
 <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<title>Loading</title>
	<style type="text/css">
	.body{
		background-color: rgb(15, 68, 113) ;

	}
	.header{
		color: white;
		  font-weight: bold;
		  font-size: 30px;
		  /*padding-top:%;*/
		  padding-bottom:10%;
		  display: inline-block;
	}
	</style>
</head>
<body class="body" >
<div style="text-align:center">
	
	<div class="header">
		<h1>Education Management System</h1>
	</div>

	<div>
		<img src="/resources/images/progress_ring.gif" style="width:100px" >
	</div>
</div>
</body>
</html>